@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="text-center">
        <h1>Every developer has a tab open to CodeAid </h1>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Find the best answer to your technical question, help others answer theirs</p>
                <a href="#" class="btn btn-primary">Join the community</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Browse all threads on the website and find the answer to your question</p>
                <a asp-page="/Threads" class="btn btn-primary">Browse threads</a>

            </div>
           @foreach (var item in Model.AllInterests)
            {
                <td>
                    <a asp-page="/Threads" asp-route-id="@item.Id">@item.Name</a>
                </td>
            } 
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>
                100+ million
                monthly visitors to CodeAid
            </h5>
        </div>
        <div class="col">
            <h5>
                45.1+ billion
                Times a developer got help since 2008
            </h5>
        </div>
    </div>
</div>

