@page
@model CodeAid.UI.Pages.Member.DeleteAccountModel
@{
}
<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <P>Are you sure you want to delete your account?</P>
                <P>
                    <button class="btn btn-primary" type="submit">Yes</button>
                    <a class="btn btn-light ml-5 border-dark" asp-page="/Index">No</a>
                </P>
            </div>
        </div>
    </div>
</form>
<h1>@Model.Message</h1>