@page
@model CodeAid.UI.Pages.Member.IndexModel
@{
}
<div class="container-fluid p-5 bg-dark text-white">
    <div class="row">
        <div class="text-center">
            <img class="" src="/images/icons8-cat-profile-100.png" alt="profile image" />
            <h1>@Model.CurrentUser.Username</h1>
            <h5>Member since @Model.DateRegistered</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="button-box col-lg-12">
        <a class="btn btn-primary" asp-page="/member/interest/index">My interests</a>
        <a class="btn btn-primary" asp-page="/member/message/index">My messages</a>
        <a class="btn btn-primary" asp-page="/member/settings">Account settings</a>
    </div>
</div>
