@page
@model CodeAid.UI.Pages.Member.InterestsModel
@{
}

<h2 class="display-2">Your interest</h2>
<form method="post">
    <table class="table table-light">
        <thead>
            <tr class="fw-bolder">
                <th>
                    <h5>Interests</h5>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var interest in Model.AllInterests)
            {
                <tr>
                    <td>
                        @interest
                    </td>
                    <td>
                        <div class="btn-group btn-outline-light">
                            <button type="button" class="btn">
                                <a class="editBtn" asp-page="/Edit" asp-route-id="@Model.User">Edit</a>
                            </button>
                            <form method="post">
                                <button class="btn" type="submit" asp-page="/Index" asp-route-id="@Model.User">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <div class="button-box col-lg-12">
        <input class="btn btn-outline-dark" type="submit" value="Add Interests" />
        <input class="btn btn-outline-dark" type="submit" value="Edit interest" />
        <input class="btn btn-outline-dark" type="submit" value="Delete interest" />
        </div>*@
</form>
