@page
@model CodeAid.UI.Pages.Member.InterestsModel
@{
}

<h2 class="display-2">Your interest</h2>

<div class="button-box col-lg-12">
             <input class="btn btn-outline-dark" type="submit" value="Add Interests" />  
             <input class="btn btn-outline-dark" type="submit" value="Edit interest" /> 
             <input class="btn btn-outline-dark" type="submit" value="Delete interest" />   
   </div>
