@page
@model CodeAid.UI.Pages.Member.SettingsModel
@{
}

<h2 class="display-2">Account settings</h2>

<div class="button-box col-lg-12">
             <input class="btn btn-outline-dark" type="submit" value="Edit Interests" />  
             <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ChangePassword">Change Password</a>
                        </li>
             <input class="btn btn-outline-dark" type="submit" value="Deactivate Account" /> 
             <input class="btn btn-danger" type="submit" value="Delete Account" />
   </div>

