@page
@model CodeAid.UI.Pages.Member.SettingsModel
@{
}

<h1>Account settings</h1>

<div class="button-box col-lg-12">
    <a class="btn btn-primary" asp-area="" asp-page="/Member/ChangePassword">Change Password</a>
    <input class="btn btn-primary" type="submit" value="Deactivate Account" />
    <input class="btn btn-danger" type="submit" value="Delete Account" />
</div>

