@page
@model CodeAid.UI.Pages.Member.SettingsModel
@{
}

<h1>Account settings</h1>

<div class="button-box col-lg-12">
             <input class="btn btn-outline-dark" type="submit" value="Edit Interests" />  
             <li class="nav-item">
                            <a class="btn btn-primary" asp-area="" asp-page="/Member/ChangePassword">Change Password</a>
                        </li>
             <a class="btn btn-danger" asp-area="" asp-page="/Member/DeactivateAccount">Deactivate Account</a>
             <a class="btn btn-danger" asp-area="" asp-page="/Member/DeleteAccount">Delete Account</a>
   </div>

