html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fafafa;
    margin-bottom: 60px;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}
.btn-primary {
    background-color: #1C1259;
    border: solid 1px black;
    transition: ease-in;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

    .btn-primary:hover {
        background-color: #1C1259;
        border: solid 1px black;
        transition: ease-in;
        color: #FF9B00;
    }
.btn-add {
    font-weight: 800;
    padding: 0 8px
}

.btn-add:hover {
    background-color: #1C1259;
    border: solid 1px black;
    transition: ease-in;
    color: white;
}
.editBtn {
    background-color: transparent;
    font-weight: 400;
    color: #1C1259;
}
.btn-group:hover {
    background-color: transparent;
}

.box{
    transform: translateY(-50%);
    font-size: 3em;
    font-family: sans-serif;
    color: #fff;
    width: calc(100% - 50px);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}
.word {
    display: inline-block;
    color: #CACAEA
}
.word span{
    position: absolute;
    top: 0;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    2% {
        opacity: 1;
        transform: translateY(0px);
    }
    18% {
        opacity: 1;
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}
.word span:nth-child(1){
    animation-delay: 0s;
}
.word span:nth-child(2) {
    animation-delay: 2s;
}
.word span:nth-child(3) {
    animation-delay: 4s;
}
.word span:nth-child(4) {
    animation-delay: 6s;
}
